/* ================================================

    CCP - A Cookie Clicker plugin

    Version: 10.0
    License: MIT
    Website: https://ccp.vyshorin.fr
    GitLab: https://gitlab.com/ccplugin/ccp
    Authors: Victor Gavoille
             Florent Colinet

================================================ */
@charset "UTF-8";

/* Interface clarifiée */
.cleanUI #topBar {
	display:none;
}
.cleanUI #game {
	top:0;
}
.cleanUI #cookies {
	/* background: rgba(0, 0, 0, 0.75); */
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
/* Pour quand pub à droite */
/* .cleanUI #sectionAd {
	display:none;
}
.cleanUI #sectionMiddle {
	right:318px;
}
.cleanUI .separatorRight {
	right:317px;
}
.cleanUI #sectionRight {
	right:0;
} */

/* Fond du panneau de configuration */
#game.onCCPMenu #sectionMiddle {
	background: #000 url(http://orteil.dashnet.org/cookieclicker/img/darkNoise.jpg);
	background-image: url(http://orteil.dashnet.org/cookieclicker/img/shadedBorders.png),url(http://orteil.dashnet.org/cookieclicker/img/darkNoise.jpg);
	background-size: 100% 100%, auto;
	background-color: #000;
}

/* Bouton pour ouvrir/fermer le panneau de configuration */
#CCPPanelButton {
	height: 49px;
	margin-right:221px;
	z-index:10000;
}
#CCPPanelButton:hover,
#CCPPanelButton.selected {
	background-position: 0 -96px;
}
.boutonCCPFixe #CCPPanelButton {
	margin-right:auto;
	position:fixed;
	right:217px;
}


/* Panneau de configuration */
#CCPPanel {
	display: none;
}
/* #CCPPanel h3 {
	color: #66ccff;
	font-size: 28px;
	margin: 0 0 20px;
}
#CCPPanel p {
	line-height: 18px;
	margin-bottom: 20px;
} */

#CCPPanel .listing input {
	width:100px;
}
#CCPPanel .listing input[type="range"] {
	width:100%;
}
#CCPPanel .listing .sliderBox {
	margin-top:2px;
	display:inline-block;
	vertical-align:text-top;
}
#CCPPanel .listing .oeil {
	cursor: pointer;
	font-size: 160%;
	text-decoration: none;
	vertical-align: sub;
}
/* IE > 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#CCPPanel .listing input[type="range"] {
		height:11px;	/* plus grand car affichage à la W8 */
		padding:0;
	}
}
#CCPPanel .listing span.warning {
	border-bottom:1px solid #c00;
	padding-bottom:2px;
	font-size:12px;
	position:relative;
	top:-2px;
}

#CCPXPrestige {
	width: 90px !important;
}

.batimentBarre {
	display:inline-block;
	height:5px;
}
.batimentBarreTooltip {
	font-size:11px;
	min-width:200px;
	text-align:center;
}

/* #CCPPanel .icon {
	margin-top: -8px;
} */
/* images des icons */
#CCPPanel .iconCookieDore {
	background-position: calc(10 * -48px) calc(14 * -48px);
}
#CCPPanel .iconRenne,
#CCPPanel .iconRennes {
	background-position: calc(12 * -48px) calc(9 * -48px);
}
#CCPPanel .iconPrestige {
	background-position: calc(19 * -48px) calc(7 * -48px);
}
#CCPPanel .iconWrinkler,
#CCPPanel .iconWrinklers {
	background-position: calc(19 * -48px) calc(8 * -48px);
}
#CCPPanel .iconClef {
	background-position: calc(16 * -48px) calc(5 * -48px);
}
#CCPPanel .iconLabo {
	background-position: calc(11 * -48px) calc(9 * -48px);
}

#CCPPanel .iconGénéral {
	background-position: calc(16 * -48px) calc(5 * -48px);
}
#CCPPanel .iconBâtiments {
	background-position: calc(2 * -48px) calc(6 * -48px);
}
#CCPPanel .iconCookies {
	background-position: calc(10 * -48px) calc(0 * -48px);
}
#CCPPanel .iconSaisons {
	background-position: calc(16 * -48px) calc(6 * -48px);
}
#CCPPanel .iconUpgrades {
	background-position: calc(6 * -48px) calc(6 * -48px);
}
#CCPPanel .iconMinigames {
	background-position: calc(29 * -48px) calc(11 * -48px);
}
#CCPPanel .iconDivers {
	background-position: calc(11 * -48px) calc(9 * -48px);
}

/* Bouton pour tuer les larves */
#CCPPopWrinklers {
	background-color: rgba(0, 0, 0, 0.75);
	border: none;
	/* color: #66ccff; */
	color: #fff;
	padding: 5px;
	font-size: 12px;
	line-height: 16px;
	border-radius: 2px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.9);
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	display: none;
	position: absolute;
	z-index: 21;
	bottom: -183px;
	left: -52px;
}
#CCPPopWrinklers:hover {
	background-color: #252525;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.65);
}

/* Temps avant prochain cookie doré */
#CCPStatNextCDDiv {
	display:none;
}
#CCPStatNextCD {
	display:inline-block;
	width:150px;
	height:12px;
	border:1px solid white;
	background-color:#1a1a1a;
}
#CCPStatNextCDBarre {
	display:inline-block;
	width:4px;
	height:12px;
	position:absolute;
	margin-left:0;
}
#CCPStatNextCDFond {
	display:inline-block;
	height:12px;
	background: #b3b3b3;
}
/* Temps avant prochain renne */
#CCPStatNextSPDiv {
	display:none;
}
#CCPStatNextSP {
	display:inline-block;
	width:150px;
	height:12px;
	border:1px solid white;
	background-color:#1a1a1a;
}
#CCPStatNextSPBarre {
	display:inline-block;
	width:4px;
	height:12px;
	position:absolute;
	margin-left:0;
}
#CCPStatNextSPFond {
	display:inline-block;
	height:12px;
	background: #b3b3b3;
}

#CCPFlash {
	display:none;
	position:fixed;
	/* position:absolute;
	top:0px;
	left:0px; */
	width:100%;
	height:100%;
	/* z-index:10000000000; */
	z-index:100000000;
	background-color:white;
}


/* Diverses couleurs */
.background-white {
	background: #fff !important;
}
.text-white {
	color: #fff !important;
}
.border-white {
	border-color: #fff !important;
}
.background-cyan {
	background: #2affff !important;
}
.text-cyan {
	color: #2affff !important;
}
.border-cyan {
	border-color: #2affff !important;
}
.background-blue {
	background: #4bb8f0 !important;
}
.text-blue {
	color: #4bb8f0 !important;
}
.border-blue {
	border-color: #4bb8f0 !important;
}
.background-green {
	background: #6f6 !important;
}
.text-green {
	color: #6f6 !important;
}
.border-green {
	border-color: #6f6 !important;
}
.background-yellow {
	background: #ffff34 !important;
}
.text-yellow {
	color: #ffff34 !important;
}
.border-yellow {
	border-color: #ffff34 !important;
}
.background-orange {
	background: #ff7f00 !important;
}
.text-orange {
	color: #ff7f00 !important;
}
.border-orange {
	border-color: #ff7f00 !important;
}
.background-red {
	background: #ff3232 !important;
}
.text-red {
	color: #ff3232 !important;
}
.border-red {
	border-color: #ff3232 !important;
}
.background-purple {
	background: #ff2cff !important;
}
.text-purple {
	color: #ff2cff !important;
}
.border-purple {
	border-color: #ff2cff !important;
}
.background-greyTen {
	background: #1a1a1a !important;
}
.text-greyTen {
	color: #1a1a1a !important;
}
.border-greyTen {
	border-color: #1a1a1a !important;
}
.background-greyLight {
	background: #b3b3b3 !important;
}
.text-greyLight {
	color: #b3b3b3 !important;
}
.border-greyLight {
	border-color: #b3b3b3 !important;
}

